# Note: You cannot specify the skip_files field in your app.yaml file if you have a .gcloudignore file.
# https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore

.gcloudignore
.git
.gitignore

# Include .gitignore contents
#!include:.gitignore

# Docker-related stuff
.dockerignore
/docker/
/docker-compose.yaml

# Additional stuff not to be deployed
*.md
