# Note: You cannot specify the skip_files field in your app.yaml file if you have a .gcloudignore file.
# https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore

.gcloudignore
.git
.gitignore

# Include .gitignore contents
#!include:.gitignore

# Dev artifacts not-related to deployment
/tsconfig.json
/nodemon.json
/tslint.json

# Explicitly include build results
!dist/

# We don't need sources on deployed instance
/src

# Docker-related stuff
.dockerignore
/docker/
/docker-compose.yaml

# Additional stuff not to be deployed
*.md
